body {
  background-color: chartreuse;
}
#HelloWorld {
  background-color: antiquewhite;
  color: crimson;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: xx-large;
  text-align: center;
  border-radius: 10vw;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}
